<h1>modifier un nouveau produit </h1>


<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
  <% end %>
