<%= stylesheet_link_tag    'products', media: 'all'%>

<h1>faire un nouveau produit </h1>


<%= form_for(@product, :url=>{:action=>'create'}, :html=>{:multipart=>true}) do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :description %>
  <%= form.number_field :rating %>
  <%= form.file_field :image_file %>
  <%= form.submit %>
  <% end %>
