<%= stylesheet_link_tag    'products', media: 'all'%>

<h3>Voilà, le produit:<%=  @product.name %><br /><br /> les Détails <%= @product.description %><br /><br /><br /> et le THC <%= @product.rating %>%<br /> <p class="test"><%= @product.filename %><br /> <%= @product.binary_data %> <%= @product.content_type %> <%= @product.detail %></p> </h3>
<%= link_to "Create a new product", new_product_path %>
<%= link_to "Home Page", products_path %>
<%= button_to "Edit a product", edit_product_path(@product), method: :get %>
<%= button_to "Delete a product", product_path(@product), method: :delete %>
